h1 {
    font-family: $font-family-secondary;
    font-size: 1.5rem;
    font-weight: bold;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
    font-family: $font-family-secondary;
    font-size: 1.25rem;
    font-weight: bold;
    color: $color-secondary;
    border-bottom: 3px solid $color-third;

    span {
        display: block;
        margin-right: auto;
    }

    a,
    button {
        margin: 0 0.5rem;
        padding: 0;
        font-size: 1rem;
        background: none;
        border: none;
        color: inherit;
        cursor: pointer;

        i {
            font-size: 1.25rem;

            &.fa-arrow-circle-left,
            &.fa-plus-circle {
                color: $color-third;
            }

            &.fa-edit,
            &.fa-eye {
                color: $color-secondary;
            }

            &.fa-copy {
                color: $color-fifth
            }

            &.fa-trash {
                color: $color-red;
            }
        }
    }
}

h3 {
    margin-bottom: 0.5rem;
    font-family: $font-family-secondary;
    font-size: 1.25rem;
    font-weight: bold;
}

hr {
    margin: 1rem 0 1.5rem;
    border-color: $color-third;
}

ul {
    margin-left: 1rem;
    padding-left: 1rem;
    list-style: initial;
}

p {
    margin-bottom: 0.5rem;
}

small {
    font-size: 0.8rem;
}

strong {
    font-weight: bold;
    color: $color-third;
}

a {
    text-decoration: none;
    color: $color-secondary;
}

.mb-0 {
    margin-bottom: 0 !important;
}
