
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> custom/default ###
.idea/
.vscode/
.DS_Store
.sass-cache/
public/img/category/*
!public/img/category/placeholder.png
public/img/health/*
!public/img/health/placeholder.png
public/img/equipment/*
!public/img/equipment/placeholder.png
###< custom/default ###
