<form method="post" action="{{ path('equipment.duplicate', {'id': equipment.id}) }}" onsubmit="return confirm('Voulez-vous dupliquer ce matos ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('duplicate' ~ equipment.id) }}">
    <button class="btn">
        <i class="fas fa-copy"></i>
    </button>
</form>
