{% extends '_layouts/_default.html.twig' %}

{% block title %}Le matos{% endblock %}

{% block main %}
    <section>
        <h2>
            <span>Tout le matos ({{ equipments | length }})</span>
            <a href="{{ path('equipment.new') }}">
                <i class="fas fa-plus-circle"></i>
            </a>
        </h2>

        {% include 'equipment/_grid.html.twig' %}
    </section>
{% endblock %}
