{% extends '_layouts/_default.html.twig' %}

{% block title %}Le matos{% endblock %}

{% block main %}
    <section>
        <h2>
            <a href="{{ path('equipment') }}">
                <i class="fas fa-arrow-circle-left"></i>
            </a>
            <span>Ajouter du matos</span>
        </h2>

        {{ include('equipment/_form.html.twig') }}
    </section>
{% endblock %}
