$font-family-primary: 'Open Sans', sans-serif;
$font-family-secondary: 'Varela Round', sans-serif;

$color-black: #222222;
$color-white: #ffffff;
$color-red: darkred;
$color-green: darkgreen;
$color-primary: #ac0da7;
$color-secondary: #0d58ac;
$color-third: #0da7ac;
$color-fourth: #e6e7ee;
