.app-main {
    margin-bottom: 3rem;

    section {
        padding: 2rem 1rem;

        .infos {
            text-align: center;

            & > img {
                margin-bottom: 1.5rem;
                height: 175px;
            }
        }
    }
}
