.app-main {
    margin-bottom: 3rem;

    section {
        padding: 2rem 1rem;

        .health {
            display: flex;
            align-items: center;
            justify-content: center;

            .app-icon {
                margin: 0 0.25rem 0 0;
                width: 1rem;
                height: 1rem;
            }
        }

        .infos {
            text-align: center;

            figure {
                position: relative;
                display: inline-block;
                padding: 1.5rem;

                button {
                    position: absolute;
                    top: 0;
                    right: 0;
                    font-size: 0.75rem;
                    color: $color-red;
                    background: none;
                    border: none;
                    cursor: pointer;
                }
            }

            img:not(.app-icon) {
                margin-bottom: 1.5rem;
                height: 175px;
            }

            blockquote {
                padding: 0.5rem;
                font-size: 0.9rem;
                text-align: left;
                border: 1rem solid $color-fourth;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                @include respond(sm) {
                    display: inline-block;
                    padding: 2rem;
                }

                &:nth-of-type(1) {
                    border-color: rgba($color-third, 0.5);
                }

                small {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;

                    a {
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}
