{% extends '_layouts/_default.html.twig' %}

{% block title %}État du matos{% endblock %}

{% block main %}
    <section>
        <h2>
            <span>Tous les états</span>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('health.new') }}">
                    <i class="fas fa-plus-circle"></i>
                </a>
            {% endif %}
        </h2>

        {% include 'health/_grid.html.twig' %}
    </section>
{% endblock %}
