{% extends '_layouts/_default.html.twig' %}

{% block title %}On Stage{% endblock %}

{% block main %}
    <section>
        <h2>Todo :</h2>
        <ul>
            <li>
                Fonctionnalités Stage :
                <ul>
                    <li>
                        Sélection pour un évènement :
                        <ul>
                            <li>Selon dispo</li>
                            <li>Selon état</li>
                            <li>Selon quantité</li>
                            <li>Selon prêts</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
{% endblock %}
